main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border-radius: 15%;
}

h1, h2, p {
    padding: 10px;
    color: #000;
}

h3 {
    text-align: center;
}

#graus {
    font-size: 30px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  
    font-weight: 500;
}

p {
    font-size: 18px;
}

span {
    border: 0.5px solid #F6F5F5;
    padding: 10px;
    width: 9vw;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-weight: 500;
    background-color: #F6F5F5;
    text-align: center;
}

.temp-minima {
    color: blue;
    margin-right: 13px;
}

.temp-maxima {
    color: red;
    margin-right: 13px;
}


.container-campos {
    height: 13vh;
    width: 22vw;
    border-radius: 5%;
    padding: 15px;
    background-color: #fff;
    opacity: 0.9;
    display: flex;
    border: none;
    flex-direction: column;
    align-items: center;    
}

@media (max-width: 1300px){
    .container {
        justify-content: center;
        align-items: center;
    }

    .container-campos {
        justify-content: center;
        align-items: center;
        width: 35vw;
    }
}

@media (max-width: 720px) {
    .container {
        justify-content: center;
    }

    .container-campos {
        flex-direction: column;
        width: 50vw;
    }
}

@media (max-width: 485px) {
    .container {
        justify-content: center;
    }

    .container-campos {
        flex-direction: column;
        width: 70vw;
    }
}

@media (max-width: 370px) {
    .container {
        justify-content: center;
    }

    .container-campos {
        flex-direction: column;
        width: 70vw;
        height: 60vh;
    }
}


@media (max-width: 295px) {
    .container {
        justify-content: center;
    }

    .container-campos {
        flex-direction: column;
        width: 90vw;
        height: 70vh;
    }
}