@import url('/assets/css/container.css');
@import url('/assets/css/secao-campos.css');
@import url('/assets/css/secao-descricao.css');
@import url('/assets/css/secao-tempo.css');
@import url('/assets/css/reset.css');

body {
    width: 100vw;
    height: 100vh;
    /* background-color: #83B4FF; */
    background-image: url('/assets/logos/boglarka-salamon-jIuogBcM_AI-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden; 
}

.esconder-secao-tempo, .esconder-secao-descricao {
    display:none;
}

h3 {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.conteudo {
    display: flex;
    border-radius: 15%;
}

.secao-cidade{
    display: flex;
    flex-direction: column;
}

.campo-rodape {
    text-align: center;
    border-top: 1px solid #000;
    width: 20vw;
    height: 5vh;
    padding: 5px;
    background-color: #F8F8FF;
}

.descricao-rodape {
    font-family: Arial, Helvetica, sans-serif;
}