.secao-descricao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #36BA98; */
    /* padding: 20px; */
    /* height: 30vh; */
    margin-top: 24px;
    /* border: 1px solid black; */
}

.logo-tempo {
    width: 100px;
    height: 100px;
}

.descricao-temperatura {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  
    font-weight: 500;
    font-size: 20px;
}

.descricao-do-tempo-cidade {
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */


  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.descricao-data {
    
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

    font-weight: 500;
}

@media (max-width: 1300px) {
    .secao-descricao {
        justify-content: center;
        align-items: center;
       width: 100%;
    }

    .descricao-do-tempo-cidade {
        text-align: center;
    }
}

@media (max-width: 720px) {
    .secao-descricao {
        justify-content: center;
        align-items: center;
       width: 100%;
    }

    .descricao-do-tempo-cidade {
        text-align: center;
    }
}

@media (max-width: 485px) {
    .secao-descricao {
        justify-content: center;
        align-items: center;
       width: 100%;
    }

    .descricao-do-tempo-cidade {
        text-align: center;
    }
}

@media (max-width: 370px) {
    .secao-descricao {
        justify-content: center;
        align-items: center;
       width: 100%;
    }

    .descricao-do-tempo-cidade {
        text-align: center;
    }
}